
@{
    ViewData["Title"] = "IdentityServer";
}

@using Microsoft.AspNetCore.Authentication;

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Key</th>
            <th scope="col">Value</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in User.Claims)
        {
            <tr>
                <th>@item.Type</th>
                <td>@item.Value</td>
            </tr>
        }

    </tbody>
</table>

<hr />


<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Key</th>
            <th scope="col">Value</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in (await Context.AuthenticateAsync()).Properties.Items)
        {
            <tr>
                <th>@item.Key</th>
                <td>@item.Value</td>
            </tr>
        }

    </tbody>
</table>

